extends ../layout

block content
  .container.clearfix
    .row
      .col-md-10.col-sm-10.col-xs-10.col-md-offset-1.col-xs-offset-1.col-xs-offset-1
        h2 #{ algorithms.index }. #{ algorithms.title }
        hr
        p #{ algorithms.content }
        hr
        .row
          .col-xs-3.col-sm-3
            select.form-control
              option(value='C') C
              option(value='Java') Java
              option(value='C++') C++
              option(value='Python') Python
        hr
        form(action = "/problems/tackle-view", method = "post")
          .form-group
            i(type="hidden" id= "problemId" name = "problemId" value = algorithms._id )
            textarea(type="text" id="codeTextarea" name="codeTextarea" rows = 15 ) #{codeTextarea}
            .clearfix
              button(type="submit").btn.btn-primary.pull-right.submitSolution#submitSolution
                strong Compile Your code
              button(type="submit").btn.btn-default.pull-right.runCode#runCode
                strong Run Code
        //button#hide hide

    .row.complieError
      .col-md-10.col-sm-10.col-xs-10.col-md-offset-1.col-xs-offset-1.col-xs-offset-1
        if stderr.length > 0
          .alert.alert-danger
            - for(var i = 0; i < stderr.length; i ++)
              p= stderr[i]
        else if stderr.length == 0 && codeTextarea.length != 0
          .alert.alert-success
            p Well done! your code is successfuly compiled

  script(type = 'text/javascript' src = '/javascripts/TextareawithLineNumber.js')

  //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  //script(type='text/javascript').
    $(document).ready(function(){
      $("#hide").click(function(){
          $.post('problems/tackle-view.pug'), "12345", function(data, status){
            $("p").hide();
            $("#codeTextarea") = "12345"
          });
      });
    });

